<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"

       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd

           http://www.springframework.org/schema/aop
           https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="bookRepository"
          class="org.example.repository.BookRepository"/>

    <bean id="bookService"
          class="org.example.service.BookService">

        <property name="repository"
                  ref="bookRepository"/>

    </bean>

    <bean id="loggingAspect"
          class="org.example.aspect.LoggingAspect"/>

    <aop:aspectj-autoproxy/>

    <aop:config>

        <aop:aspect ref="loggingAspect">

            <aop:around
                    method="logExecutionTime"
                    pointcut="execution(* org.example.service.*.*(..))"/>

        </aop:aspect>

    </aop:config>

</beans>